@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="row">
    <div class="col-6">
        <h2>Author List</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-action="Upsert">Create new author</a>
    </div>
</div>

<br />
<div class="">
    <table id="tblData" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Author</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/author.js"></script>
}