@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="row">
    <div class="col-6">
        <h2>Author List</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Create new user</a>
    </div>
</div>

<br />
<div class="">
    <table id="tblData" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Full name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/user.js"></script>
}